[General]
ConfigVersion=1.3
name=LOS FRESCOS V0.2
iconKey=liteloader
InstanceType=OneSix

# --- Comandos de Automatización ---
OverrideCommands=true
PreLaunchCommand=powershell -ExecutionPolicy Bypass -File actualizar.ps1
PreLaunchCommandLinux=chmod +x actualizar.sh && ./actualizar.sh

# --- Configuración de Java y Memoria ---
OverrideJava=true
JavaPath=runtime/bin/java
OverrideMemory=true
MinMem=4096
MaxMem=4096
OverrideJavaArgs=true
JvmArgs=-XX:+UseCompactObjectHeaders -XX:+UseZGC

# --- Ajustes de Exportación y Otros ---
ExportAuthor=
ExportName=
ExportOptionalFiles=true
ExportSummary=
ExportVersion=1.0.0
GlobalDataPacksEnabled=false
GlobalDataPacksPath=
JoinServerOnLaunch=false
LogPrePostOutput=true
MCLaunchMethod=LauncherPart
ManagedPack=false
ManagedPackID=
ManagedPackName=
ManagedPackType=
ManagedPackURL=
ManagedPackVersionID=
ManagedPackVersionName=
MaxMemAlloc=4096
MinMemAlloc=512
ModDownloadLoaders=[]
OverrideConsole=false
OverrideEnv=false
OverrideGameTime=false
OverrideJavaLocation=false
OverrideLegacySettings=false
OverrideMiscellaneous=false
OverrideModDownloadLoaders=false
OverrideNativeWorkarounds=false
OverridePerformance=false
OverrideWindow=false
PermGen=128
Profiler=
UseAccountForInstance=false
lastLaunchTime=0
linkedInstances=[]
notes=
PostExitCommand=
WrapperCommand=

[UI]
mods_Page\Columns="AAAA/wAAAAAAAAABAAAAAAAAAAEBAAAAAAAAAAAAAAANwB8AAAAHAAAABwAAAGQAAAAGAAAAZAAAAAkAAABkAAAACwAAAGQAAAAMAAAAZAAAAAoAAABkAAAACAAAAGQAAAUUAAAADQEBAAAAAAAAAQAAAAAAAABk/////wAAAIEAAAAAAAAADQAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAQAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAAGQAAAABAAAAAAAAA+gAAAAAZAAAAAAAAAAAAAAAAAAAAAE="
resourcepacks_Page\Columns="AAAA/wAAAAAAAAABAAAAAAAAAAEBAAAAAAAAAAAAAAAHQAAAAAEAAAAGAAAAZAAAArwAAAAHAQEAAAAAAAABAAAAAAAAAGT/////AAAAgQAAAAAAAAAHAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAABAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAD6AAAAABkAAAAAAAAAAAAAAAAAAAAAQ=="
shaderpacks_Page\Columns="AAAA/wAAAAAAAAABAAAAAAAAAAEBAAAAAAAAAAAAAAAFEAAAAAEAAAAEAAAAZAAAAfQAAAAFAQEAAAAAAAABAAAAAAAAAGT/////AAAAgQAAAAAAAAAFAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAABAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAD6AAAAABkAAAAAAAAAAAAAAAAAAAAAQ=="
texturepacks_Page\Columns="AAAA/wAAAAAAAAABAAAAAAAAAAEBAAAAAAAAAAAAAAAGIAAAAAEAAAAFAAAAZAAAAlgAAAAGAQEAAAAAAAABAAAAAAAAAGT/////AAAAgQAAAAAAAAAGAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAABAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAAZAAAAAEAAAAAAAAD6AAAAABkAAAAAAAAAAAAAAAAAAAAAQ=="