# Configuration file

general {
    B:blockEntitiesLightSource=false

    # Valid values:
    # OFF
    # SIMPLE
    # FANCY
    S:creeperLightingMode=OFF

    # Valid values:
    # OFF
    # SLOW
    # FAST
    # REALTIME
    S:dynamicLightsMode=FAST
    B:entitiesLightSource=false
    B:selfLightSource=true

    # Valid values:
    # OFF
    # SIMPLE
    # FANCY
    S:tntLightingMode=OFF
    B:waterSensitiveCheck=false

    entities_settings {
    }

}


